<div class="clr-row">
	<div class="clr-col-2">
		<clr-input-container class="ma0">
			<label>Enter Sports Event</label>
			<input clrInput type="text" [(ngModel)]="sports" name="example" />
		</clr-input-container>
	</div>
	<div class="clr-col-2">
		<clr-input-container class="ma0">
			<label>Enter Year</label>
			<input clrInput type="text" [(ngModel)]="year" name="example" />
		</clr-input-container>
	</div>
	<div class="clr-col">
		<button
			(click)="getAllStudents()"
			class="btn btn-primary clr-align-self-end"
		>
			<!--            <cds-icon shape="plus" solid="true"></cds-icon>-->
			Search
		</button>
	</div>
</div>

<div class="mt3" *ngIf="unfiltered.length > 0 && dataLoaded">
	<div class="flex flex-row justify-between items-center">
		<div>
			<h3 class="b ma0">Top Students</h3>
			<p class="b ma0">Showing all top {{ students.length }} results</p>
		</div>
		<div class="flex flex-row" style="gap: 1rem">
			<clr-select-container class="ma0">
				<label>Certificates Issued<span style="color: red">*</span></label>
				<select
					(change)="onFilterChange()"
					[(ngModel)]="certificateFilter"
					class="w-100"
					clrSelect
				>
					<option value="All">All</option>
					<option value="Issued">Issued</option>
					<option value="Not Issued">Not Issued</option>
				</select>
			</clr-select-container>
			<button (click)="printAll()" class="btn btn-primary clr-align-self-end">Print All</button>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<ng-container *ngFor="let header of headers">
					<th *ngIf="header !== 'studentId' && header !== 'activityId'">{{ header }}</th>
				</ng-container>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let student of students">
				<ng-container *ngFor="let header of headers">
					<td *ngIf="header !== 'studentId' && header !== 'activityId' ">{{ student[header] }}</td>
				</ng-container>
				<td>
					<clr-dropdown>
						<button
							class="btn-icon btn btn-primary btn-sm"
							clrDropdownTrigger
							aria-label="toggle settings menu"
						>
							<cds-icon shape="cog"></cds-icon>
							<cds-icon shape="angle" direction="down"></cds-icon>
						</button>
						<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
							<a (click)="genCertificate(student)" clrDropdownItem
								>Issue Certificate</a
							>
						</clr-dropdown-menu>
					</clr-dropdown>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div
	*ngIf="unfiltered.length <= 0 && dataLoaded"
	class="h-100 w-100 flex flex-column justify-center items-center"
>
	<h3 class="ma0 b">No Students Found</h3>
	<p class="ma0 text-center mb2">
		Please add atleast one student to view the recods here
	</p>
</div>

<div
	*ngIf="unfiltered.length <= 0 && !dataLoaded"
	class="h-100 w-100 flex flex-column justify-center items-center"
>
	<span class="spinner spinner-sm">Loading...</span>
	<span>Loading...</span>
</div>
