.main-container {
  background-color: #320047;
}

.clr-row {
  height: 100%;
}

//.content-area {
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  align-items: center;
//}

.m0 {
  margin: 0
}

.card{
  margin:0px;
  padding: 30px 20px 30px 20px
}

.clr-control-container , .clr-input{
  width: 100% !important;
}

