<div class="main-container">
  <header class="header-3">
    <div class="branding">
      <a href="..." class="nav-link">
      
        <span class="title b">Student Registration</span>
      </a>
    </div>
</header>
  <div class="content-container">
    <div *ngIf="!dataSubmitted && !showLoader" class="content-area" >

      <div class="pa2 bg-white mt2">

      <form [formGroup]="studentForm" clrForm clrLayout="vertical">
        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-input-container>
              <label>Family Name</label>
              <input clrInput type="text" formControlName="FamilyName"  class="w-100"/>
            </clr-input-container>
          </div>
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-input-container>
              <label>Full Name</label>
              <input clrInput type="text" formControlName="StudentName" class="w-100"/>
            </clr-input-container>
          </div>
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-input-container>
              <label>Father Name</label>
              <input clrInput type="text" formControlName="FatherName" class="w-100"/>
            </clr-input-container>
          </div>
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-input-container>
              <label>Address</label>
              <input clrInput type="text" formControlName="Address" class="w-100"/>
            </clr-input-container>
          </div>
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-input-container>
              <label>City</label>
              <input clrInput type="text" formControlName="City" class="w-100"/>
            </clr-input-container>
          </div>
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-input-container>
              <label>State</label>
              <input clrInput type="text" formControlName="State" class="w-100"/>
            </clr-input-container>
          </div>
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-input-container>
              <label>Mobile Number</label>
              <input clrInput type="text" formControlName="MobileNumber" class="w-100"/>
            </clr-input-container>
          </div>





        </div>
      </form>

      <form [formGroup]="activityForm" clrForm clrLayout="vertical">
        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-select-container class="w-100">
              <label>Registration Type</label>
              <select class="w-100" clrSelect formControlName="ActivityType">
                <option value="education">Education</option>
                <option value="event">Sports/Competition</option>
                <option value="ssc">SSC Model Paper</option>
              </select>
            </clr-select-container>
          </div>
          <div *ngIf="activityForm.controls['ActivityType'].value === 'event' || activityForm.controls['ActivityType'].value === 'education'" class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
            <clr-date-container>
              <label> {{activityForm.controls['ActivityType'].value === 'education' ? 'Passing Year' : 'Sports/Competition Year' }} </label>
              <input type="date" autocomplete="off" formControlName="EventDate" clrDate/>
            </clr-date-container>
          </div>



        </div>
      </form>
      <div *ngIf="activityForm.controls['ActivityType'].value === 'education'">
        <form [formGroup]="activityForm" clrForm clrLayout="vertical">
          <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Education Passed</label>
                <input clrInput type="text" placeholder="ex: SSC,Inter,Btech,Degree,Diploma" formControlName="EducationPassed" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Board/University</label>
                <input clrInput type="text" placeholder="Telangana Board,CBSE,JNTUH,Osmania University,etc" formControlName="BoardType" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Board Stream</label>
                <input clrInput type="text" placeholder="CSE,BCOM,MSC etc" formControlName="BoardStream" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Grade</label>
                <input clrInput type="text" placeholder="ex: A,B,C" formControlName="Grade" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Total Marks(Including All Subjects)</label>
                <input clrInput type="text" placeholder="ex: 976" formControlName="TotalMarks" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Percentage</label>
                <input clrInput type="text" placeholder="ex: 97%" formControlName="Percentage" class="w-100"/>
              </clr-input-container>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="activityForm.controls['ActivityType'].value === 'event'">
        <form [formGroup]="activityForm" clrForm clrLayout="vertical">
          <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Sports/Competition Title</label>
                <input clrInput type="text" placeholder="ex: Singing Competition 2022" formControlName="EventTitle" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Participation Description</label>
                <input clrInput type="text" placeholder="ex: National Level, District Wide" formControlName="EventDescription" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>Award</label>
                <input clrInput type="text" placeholder="ex: 1st Rank, Gold Medal, etc" formControlName="EventReward" class="w-100"/>
              </clr-input-container>
            </div>
          </div>
        </form>
      </div>

        <form clrForm clrLayout="vertical" *ngIf="activityForm.controls['ActivityType'].value === 'ssc'" [formGroup]="activityForm">
          <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-select-container class="w-100">
                <label>Present Studying SSC ?</label>
                <select class="w-100" clrSelect formControlName="StudyingSsc">
                  <option [ngValue]="1">Yes</option>
                  <option [ngValue]="0">No</option>
                </select>
              </clr-select-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>School Full Name</label>
                <input clrInput type="text" formControlName="SchoolName" class="w-100"/>
              </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-lg-3 clr-col-md-4">
              <clr-input-container>
                <label>School Address</label>
                <input clrInput type="text" formControlName="SchoolAddress" class="w-100"/>
              </clr-input-container>
            </div>
          </div>
        </form>



      </div>



      <button (click)="addStudent()" class="btn btn-primary btn-block">Submit Details</button>


    </div>

      <div *ngIf="!dataSubmitted && showLoader" class="h-100 w-100 flex flex-column justify-center items-center content-area">
        <span class="spinner spinner-sm"></span>
        <span>Uploading Details</span>
      </div>

    <div *ngIf="dataSubmitted && !showLoader" class="content-area" >
      <div class="w-100 h-100 flex flex-column justify-center text-center items-center">
        <h3 class="text-center ma0 b">Thanks for submitting Details</h3>
        <p class="text-center ma0">You details are sent to the administration for any modifications please contact your administration</p>
      </div>
    </div>
  </div>
</div>








